<!----------------------------------------------- Header-start-------------------------------------------->
<div #header class="page-header animated fadeIn" data-parallax="true" style="background-image: url('./assets/img/frente.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center animated fadeIn">
            <h1 *ngIf="!isLive">Bienvenido</h1>
            <h3 *ngIf="!isLive">Iglesia de la Unión Evangélica de Coronel Suárez.</h3>
            <br />
            <a href="#/multimedia" *ngIf="!isLive" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Nuestros mensajes</a>
            <a (click)="showLive = !showLive" *ngIf="!showLive && isLive" class="btn btn-danger btn-round live"><i class="fa fa-play"></i>Ver en Vivo!</a>
            <div class="row justify-content-center">
                <div class="col-sm-8 col-md-6 animated fadeIn" *ngIf="showLive">
                    <div class="d-flex justify-content-center">
                        <p class="live live-text w-100 mb-0">EN VIVO!</p>
                        <p class="live live-close mb-0"><i class="fa fa-times mr-1 pointer" (click)="showLive = !showLive"></i></p>
                    </div>
                    <div class="card-video">
                      <iframe class="iframe" [src]="liveUrl" frameborder="0" allowfullscreen></iframe>
                    </div> 
                </div>
            </div>
        </div>
        
        <div class="shift text-center" *ngIf="!isLive">
            <a (click)="scroll(main)" class="btn btn-link"><i class="fa fa-angle-down"></i>Desplazar hacia abajo<i class="fa fa-angle-down"></i></a>
            <div #main></div>
        </div>
    </div>
</div>
<!----------------------------------------------- Header-end---------------------------------------------->

<div #main class="main" (scroll)="handleScroll($event)">    
    <div #title class="section text-center">
        <div class="container">
<!----------------------------------------------- Welcome-start--------------------------------------------->            
            <div class="row">
                <div  class="col-md-10 mr-auto ml-auto" [ngClass]="{'animated fadeIn' : showTitle}" [ngStyle]="{'visibility': showTitle ? 'visible': 'hidden'}">
                    <h2 class="title">{{ title1 }}</h2>
                    <hr class="divider" size="5rem"/>
                    <br >
                    <h5 class="description">{{ content1a }} <a *ngIf="!isKnowMore" class="knowMore" (click)="onKnowMore()">+Saber más</a></h5>
                    
                    <div  *ngIf="isKnowMore">
                        <h5 class="description"><a class="knowMore" (click)="onKnowMore()">Ver menos</a></h5>
                        <h5 class="description"> {{ knowMoreContent1 }}</h5>
                        <h5 class="description"> {{ knowMoreContent2 }}</h5>
                        <h5 class="description"> {{ knowMoreContent3 }}</h5>
                        <h5 class="description"> {{ knowMoreContent4 }}</h5>  
                    </div> 
                    <br>
                    <h5 class="description">{{ content1b }}</h5>
                    
                    <br> 
                </div>
            </div>
<!----------------------------------------------- Welcome-end--------------------------------------------->

<!----------------------------------------------- News-start--------------------------------------------->
            <div *ngIf="novedades" class="row">
                <div class="col-md-10 mr-auto ml-auto" [ngClass]="{'animated fadeIn' : showTitle}" [ngStyle]="{'visibility': showTitle ? 'visible': 'hidden'}">
                    <h2 class="title">Novedades</h2>
                    <hr class="divider" size="5rem"/>
                    <br >
                    <h5 [innerHtml]="message" class="description"></h5>
                </div>
            </div>
<!------------------------------------------------News-end--------------------------------------------->
        </div>
    </div>  
             
                         
    
<!----------------------------------------------- Intro-end---------------------------------------------->

<!----------------------------------------------- Reuniones-start---------------------------------------->
    <div #meetings class="section section-dark text-center">
        <div class="container" [ngClass]="{'animated fadeIn' : showMeetings}" [ngStyle]="{'visibility': showMeetings ? 'visible': 'hidden'}">
            <h2 class="title">Actividades</h2>
            <h4 class="covid19" >{{ covid19Content }}</h4> 
            <div class="row">
                
                <div class="col-md-3" *ngFor="let reunion of reuniones" >
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="{{ reunion.img }}" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">{{ reunion.title }}</h4>
                                    <h6 class="card-category">{{reunion.time }} <span>h</span></h6>
                                </div>
                            </a>
                            <p class="card-description text-center">{{ reunion.content}}</p>
                        </div>
                    </div>    
                </div>
               
            </div>
        </div>
    </div>
<!----------------------------------------------- Reuniones-end------------------------------------------>
    

<!----------------------------------------------- Form-start---------------------------------------------->
    <div #form class="section text-center" [ngClass]="{'animated fadeIn' : showForm}" [ngStyle]="{'visibility': showForm ? 'visible': 'hidden'}">   
        <app-form></app-form>
    </div>  
<!----------------------------------------------- Form-end---------------------------------------------->


</div> 




<!-- ---------------------Ubicacion------------------------------------ -->

<!-- <div class="section text-center">
    <div class="container">
        <h2 class="title">Dónde encontrarnos</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="637" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=belgrano%201559%2C%20Coronel%20Suarez&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:637px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:637px;}</style></div>
            </div>
    </div>
</div> -->


<!-- <div class="col-md-6 mr-auto ml-auto">
    <div class="info">
        <div class="icon icon-danger">
            <i class="fas fa-bible"></i>
        </div>
        <div class="description">
            <h4 class="info-title">Integrate a &#233;sta familia</h4>
            <h4 class="info-title">Belgrano 1559, (entre Rivas y Garibaldi). Coronel Suarez. c&#243;digo postal 7540. Provincia de Buenos Aires.</h4>
            <p class="description">Argentina</p>
            <a href="https://www.google.com.ar/maps/place/Iglesia+U.E.A/@-37.4601263,-61.9384747,18z/data=!3m1!4b1!4m5!3m4!1s0x95eb73288bfd5b83:0xa612cfa3cb24816c!8m2!3d-37.4601263!4d-61.9378066" target="_blank" class="btn btn-link btn-danger">VER MAPA</a>
        </div>
    </div>
</div> -->








<!-- -----------------------------------------------Versiculo start----------------------------------------------   
<hr class="divider" size="5rem"/>    
<div class="container">
    <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
            <div class="info">
                <div class="icon icon-danger">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </div>
                <div class="col-xs-6 description">
                    <h4 class="info-title">"Mas Dios muestra su amor para con nosotros, en que siendo a&#250;n pecadores, Cristo muri&#243; por nosotros."</h4>
                    <p class="description">Romanos 5:8</p>
                    <a href="https://www.biblia.es/biblia-buscar-libros-1.php?libro=romanos&capitulo=5&version=rv60" target="_blank" class="btn btn-link btn-danger">VER M&#193;S</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<hr class="divider" size="5rem"/>    
-----------------------------------------------Versiculo end---------------------------------------------- -->         
<!--  -->