<app-header></app-header>
<div #main class="main">
    
    <div class="section text-center">
        <app-container-intro [title]="title1" [content]="content1"></app-container-intro>
        <app-container-intro [title]="title2" [content]="content2"></app-container-intro>
    </div>

    <div class="section section-dark text-center">
        <app-reuniones></app-reuniones>
    </div>

    <div class="section text-center">
        <div *ngIf="novedades"  class="container">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <h2 class="title">{{ title3 }}</h2>
                    <hr class="divider" size="5rem"/>
                    <br >
                    <h5 class="description">{{ message }}</h5>
                    <br>
                    <hr class="divider" size="5rem"/>
                </div>
            </div>
        </div>
        <app-form></app-form>
    </div>

</div>











<!-- ---------------------Ubicacion------------------------------------ -->

<!-- <div class="section text-center">
    <div class="container">
        <h2 class="title">Dónde encontrarnos</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="mapouter"><div class="gmap_canvas"><iframe width="637" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=belgrano%201559%2C%20Coronel%20Suarez&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:637px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:637px;}</style></div>
            </div>
    </div>
</div> -->


<!-- <div class="col-md-6 mr-auto ml-auto">
    <div class="info">
        <div class="icon icon-danger">
            <i class="fas fa-bible"></i>
        </div>
        <div class="description">
            <h4 class="info-title">Integrate a &#233;sta familia</h4>
            <h4 class="info-title">Belgrano 1559, (entre Rivas y Garibaldi). Coronel Suarez. c&#243;digo postal 7540. Provincia de Buenos Aires.</h4>
            <p class="description">Argentina</p>
            <a href="https://www.google.com.ar/maps/place/Iglesia+U.E.A/@-37.4601263,-61.9384747,18z/data=!3m1!4b1!4m5!3m4!1s0x95eb73288bfd5b83:0xa612cfa3cb24816c!8m2!3d-37.4601263!4d-61.9378066" target="_blank" class="btn btn-link btn-danger">VER MAPA</a>
        </div>
    </div>
</div> -->








<!-- -----------------------------------------------Versiculo start----------------------------------------------   
<hr class="divider" size="5rem"/>    
<div class="container">
    <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
            <div class="info">
                <div class="icon icon-danger">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </div>
                <div class="col-xs-6 description">
                    <h4 class="info-title">"Mas Dios muestra su amor para con nosotros, en que siendo a&#250;n pecadores, Cristo muri&#243; por nosotros."</h4>
                    <p class="description">Romanos 5:8</p>
                    <a href="https://www.biblia.es/biblia-buscar-libros-1.php?libro=romanos&capitulo=5&version=rv60" target="_blank" class="btn btn-link btn-danger">VER M&#193;S</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<hr class="divider" size="5rem"/>    
-----------------------------------------------Versiculo end---------------------------------------------- -->         
<!--  -->