<!----------------------------------------------- Header-start-------------------------------------------->
<div #header class="page-header" data-parallax="true" style="background-image: url('./assets/img/frente.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3 *ngIf="!isLive">Bienvenido</h3>
            <h1 *ngIf="!isLive">Iglesia de la Unión Evangélica de Coronel Suárez.</h1>
            <br />
            <a *ngIf="!isLive" class="btn btn-outline-neutral btn-round btn-nuestros-mensajes" (click)="onNuestrosMensajesClick()"><i class="fa fa-play"></i>Nuestros mensajes</a>
            <a (click)="showLive = !showLive" *ngIf="!showLive && isLive" class="btn btn-danger btn-round live"><i class="fa fa-play"></i>Ver en Vivo!</a>
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10" *ngIf="showLive">
                    <div class="d-flex justify-content-center">
                        <p class="live live-text w-100 mb-0">EN VIVO!</p>
                        <p class="live live-close mb-0"><i class="fa fa-times mr-1 pointer" (click)="showLive = !showLive"></i></p>
                    </div>
                    <div class="card-video">
                      <iframe class="iframe" [src]="liveUrl" frameborder="0" allowfullscreen></iframe>
                    </div> 
                </div>
            </div>
        </div>
        
        <div class="scrollDown text-center" *ngIf="!isLive" (click)="scrollTo('main')">
            <!-- <a (click)="scroll(main)" class="btn btn-link"><i class="fa fa-angle-down"></i>Desplazar hacia abajo<i class="fa fa-angle-down"></i></a> -->
            <div class="arrow-container animated fadeInDown">
                <div class="arrow-2">
                  <i class="fa fa-angle-down"></i>
                </div>
                <div class="arrow-1 animated hinge infinite zoomIn"></div>
            </div>
            <!-- <div #main></div> -->
        </div>
    </div>
</div>
<!----------------------------------------------- Header-end---------------------------------------------->

<div id="main" class="main" (scroll)="handleScroll($event)">    
    <div #title class="section text-center animated fadeIn">
        <div class="container">
<!----------------------------------------------- Welcome-start--------------------------------------------->            
            <div class="row">
                <div  class="col-md-10 mr-auto ml-auto" [ngStyle]="{'visibility': showTitle ? 'visible': 'hidden'}">
                    <h2 class="title">{{ title1 }}</h2>
                    <br >
                    <h5 class="description">{{ content1a }} <a class="knowMore" (click)="onSaberMasClick()">+Saber más</a></h5>
                    <br>
                    <h5 class="description">{{ content1b }}</h5>
                    
                    <br> 
                </div>
            </div>
            <hr class="divider" size="5rem"/>
<!----------------------------------------------- Welcome-end--------------------------------------------->

<!----------------------------------------------- News-start--------------------------------------------->
            <div  *ngIf="novedades" class="row">
                <div class="col-md-10 mr-auto ml-auto" [ngStyle]="{'visibility': showTitle ? 'visible': 'hidden'}">
                    <h2 class="title">Novedades</h2>
                    <br >
                    <h5 [innerHtml]="message" class="description"></h5>
                </div>
            </div>
<!------------------------------------------------News-end--------------------------------------------->
        </div>
    </div>  
             
                         
    
<!----------------------------------------------- Intro-end---------------------------------------------->

<!----------------------------------------------- Reuniones-start---------------------------------------->
    <div #meetings class="section section-dark text-center animated fadeIn">
        <div class="container" [ngStyle]="{'visibility': showMeetings ? 'visible': 'hidden'}">
            <h2 class="title">Actividades</h2>
            <h4 class="covid19" >{{ covid19Content }}</h4> 
            <div class="row">
                
                <div class="col-md-3" *ngFor="let reunion of reuniones; let i=index;" >
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="{{ reunion.img }}" alt="{{ reunion.alt}}" tabindex="{{ i }}"></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">{{ reunion.title }}</h4>
                                    <h6 class="card-category">{{reunion.time }} <span class="span--lowercase">h</span></h6>
                                </div>
                            </a>
                            <p class="card-description text-center">{{ reunion.content}}</p>
                        </div>
                    </div>    
                </div>
               
            </div>
        </div>
    </div>
<!----------------------------------------------- Reuniones-end------------------------------------------>
    

<!----------------------------------------------- Form-start---------------------------------------------->
    <div #form id="form" class="section text-center animated fadeIn" [ngStyle]="{'visibility': showForm ? 'visible': 'hidden'}">   
        <app-form></app-form>
    </div>  
<!----------------------------------------------- Form-end---------------------------------------------->


</div> 
