<div class="wrapper">
<!------------------------------------header start------------------------------------>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/escuela-biblica.jpg');">
        <div class="filter"></div>
    </div>
<!------------------------------------header end-------------------------------------->
    <div class="section text-center">
        <app-container-intro [title]="title1" [content]="content1"></app-container-intro> 
        <app-container-intro [title]="title2" [content]="content2"></app-container-intro>
    </div>
    
</div>
  
