<div class="wrapper animated fadeIn">
<!------------------------------------header start------------------------------------>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/escuela-biblica.jpg');">
        <div class="filter"></div>
    </div>
<!------------------------------------header end-------------------------------------->

<!------------------------------------carousel start-------------------------------------->
    <div #main class="section" id="carousel">
        <div class="container animated fadeIn">
            <div class="nosotros-title">
                <h2 class="title">Nuestras creencias</h2> 
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">  
                    <div class="card page-carousel">
                        <ngb-carousel keyboard="true" showNavigationArrows="true" paused="true" > 
                            <ng-template class="carousel-div"ngbSlide>
                                <h5 class="carousel-card">La Biblia en su totalidad fue inspirada por Dios. El Espíritu Santo guio a los autores a escribir cada palabra sin error. Ella es verdad en toda materia, ya sea de fe o de historia <a href="https://www.bible.com/es/bible/176/2pe.1.20" target="_blank">(2 Pedro 1:20-21)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">La Biblia es la autoridad final de fe, conducta y doctrina para nuestra congregación y cada creyente que la compone <a href="https://www.bible.com/es/bible/176/2ti.3.16" target="_blank">(2 Timoteo 3:16)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Creemos en un solo Dios verdadero que existe eternamente en tres personas: Padre, Hijo y Espíritu Santo <a href="https://www.bible.com/es/bible/176/mat.28.19" target="_blank">(Mateo 28:19</a>, <a href="https://www.bible.com/es/bible/127/2co.13.14" target="_blank">2 Corintios 13:14)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">El Hijo de Dios se encarnó en la persona de Jesús, fue engendrado milagrosamente por el Espíritu Santo, vivió sin pecado y fue completamente Dios y completamente hombre.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Jesus murió en una cruz y resucitó al tercer día, presentándose como evidencia a más de quinientas personas a la vez <a href="https://www.bible.com/es/bible/176/1CO.15.TLA" target="_blank">(1 Corintios 15:1-11)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">En Adán toda la humanidad participó del pecado original y, por consecuencia, todo hombre está muerto espiritualmente y separado de Dios <a href="https://www.bible.com/es/bible/176/rom.3.23" target="_blank">(Romanos 3:23)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Pero Jesús cargó con el castigo que merecía nuestro pecado. Él tomó nuestro lugar y nos devolvió la posibilidad de restablecer la relación con el Padre <a href="https://www.bible.com/es/bible/176/1pe.2.24" target="_blank">(1 Pedro 2:24)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Ahora, al creer en Jesús y en su obra, tenemos salvación eterna y una vida nueva (Juan 3:16).</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Creemos que todos los que reciben por fe al Señor Jesús nacen de nuevo mediante la obra del Espíritu Santo y, de esta manera, son hechos hijos de Dios <a href="https://www.bible.com/es/bible/176/gal.4.4" target="_blank">(Gálatas 4: 4-7)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Creemos en el bautismo en el nombre del Padre, del Hijo, y del Espíritu Santo, acto solemne que evidencia el arrepentimiento del hombre y su fe en el Señor Jesús <a href="https://www.bible.com/es/bible/176/mat.28.19" target="_blank">(Mateo 28: 19)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Compartimos juntos la Cena del Señor, instituida por Jesús para conmemorar su muerte. Creemos que el pan y el vino simbolizan su cuerpo y su sangre.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Participar de la Cena del Señor es deber de los creyentes; demostrando así su fe en el sacrificio de Cristo y su esperanza en la vida eterna <a href="https://www.bible.com/es/bible/176/luk.22.17" target="_blank">(Lucas 22:17-20)</a>.</h5>
                            </ng-template>
                            <ng-template ngbSlide>
                                <h5 class="carousel-card">Creemos que Jesús volverá y establecerá un reinado, permanente y eterno, de justicia y paz <a href="https://www.bible.com/es/bible/176/luk.21.25" target="_blank">(Lucas 21:25-28)</a>.</h5>
                            </ng-template> 
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!------------------------------------carousel end-------------------------------------->

<!------------------------------------regalo start-------------------------------------->
<div class="section text-center">
    <div class="container">
        <div class="row">
            <div  class="col-md-10 mr-auto ml-auto animated fadeIn">
                <h2 class="title">El regalo más grande</h2>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="El problema">
                                <ng-template ngbTabContent>
                                    <p>La Biblia nos enseña que, desde el comienzo de la humanidad, el hombre se apartó de Dios perdiendo así la relación con su Creador<a href="https://www.bible.com/es/bible/176/rom.3.23" target="_blank">(Romanos 3:23)</a> . El precio que debíamos pagar era la muerte <a href="https://www.bible.com/es/bible/176/rom.6.23" target="_blank">(Romanos 6:23)</a>. </p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="El plan">
                                <ng-template ngbTabContent>
                                    <p>Pero Dios nos amó tanto que ideó un plan perfecto para salvarnos: envió a su Hijo Jesús, que murió por cada uno de nosotros, cargando toda nuestra maldad <a href="https://www.bible.com/es/bible/176/1pe.2.24" target="_blank">(1 Pedro 2:24)</a>. </p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="El regalo">
                                <ng-template ngbTabContent>
                                    <p>Y la historia no terminó ahí, ¡Jesús resucitó! <a href="https://www.bible.com/es/bible/176/1co.15.3" target="_blank">(1 Corintios 15:3-4)</a> Venció la muerte y ascendió al cielo <a href="https://www.bible.com/es/bible/176/mrk.16.9" target="_blank">(Marcos 16:9)</a>. 
                                        Hoy, está esperando que creas en Él y recibas por fe el regalo más grande: 
                                        <strong>la salvación</strong>.
                                        </p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------regalo end-------------------------------------->   
</div>
  
