<div class="wrapper">
<!------------------------------------header start------------------------------------>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/biblia.jpg');">
        <div class="filter"></div>
    </div>
<!------------------------------------header end-------------------------------------->

    <div class="main">
<!------------------------------------sobre nosotros start-------------------------------------->   
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <h2 class="title">Sobre Nosotros</h2>
                        <br >
                        <h5 class="description">Somos una comunidad con valores radicados en la palabra de Dios. Nuestro propósito es compartir a otros acerca del amor y la verdad de Jesucristo. Siguiendo las enseñanzas de la Biblia, procuramos vivir y demostrar a los demás el mismo amor que hemos recibido.</h5>
                        <br>
                        <h5 class="description">Disfrutamos encontrarnos regularmente para conocer más de Dios y enaltecer su nombre, así como para compartir nuestras alegrías y tristezas.</h5>
                        <br>
                        <h5 class="description">Cada vez que nos reunimos, nos alegramos de tener entre nosotros personas que nos visitan por primera vez.</h5>
                        <br>
                        <h5 class="description">Si estás leyendo esto, no dudes en acercarte.</h5>
                        <h5 class="description"><strong>¡Nos encantaría conocerte!</strong></h5>
                    </div>
                </div>
                <hr class="divider" size="5rem"/>   
            </div>
        </div>
<!------------------------------------sobre nosotros end--------------------------------------> 

<!------------------------------------ creencias start-------------------------------------->
<div  #videoContainer class="section section--margin-null text-center">
    <div class="container">
      <h2 class="title">Nuestras creencias</h2>
      <div class="row content">
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>La Biblia en su totalidad fue inspirada por Dios. El Espíritu Santo guio a los autores a escribir cada palabra sin error. Ella es verdad en toda materia, ya sea de fe o de historia <a class="a--higlighted" href="https://www.bible.com/es/bible/176/2pe.1.20" target="_blank">(2 Pedro 1:20-21)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>La Biblia es la autoridad final de fe, conducta y doctrina para nuestra congregación y cada creyente que la compone <a class="a--higlighted" href="https://www.bible.com/es/bible/176/2ti.3.16" target="_blank">(2 Timoteo 3:16)</a>.</h5>
                    </div> 
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Creemos en un solo Dios verdadero que existe eternamente en tres personas: Padre, Hijo y Espíritu Santo <a class="a--higlighted" href="https://www.bible.com/es/bible/176/mat.28.19" target="_blank">(Mateo 28:19</a>, <a class="a--higlighted" href="https://www.bible.com/es/bible/127/2co.13.14" target="_blank">2 Corintios 13:14)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>El Hijo de Dios se encarnó en la persona de Jesús, fue engendrado milagrosamente por el Espíritu Santo, vivió sin pecado y fue completamente Dios y completamente hombre.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Jesus murió en una cruz y resucitó al tercer día, presentándose como evidencia a más de quinientas personas a la vez <a class="a--higlighted" href="https://www.bible.com/es/bible/176/1CO.15.TLA" target="_blank">(1 Corintios 15:1-11)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>En Adán toda la humanidad participó del pecado original y, por consecuencia, todo hombre está muerto espiritualmente y separado de Dios <a class="a--higlighted" href="https://www.bible.com/es/bible/176/rom.3.23" target="_blank">(Romanos 3:23)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Pero Jesús cargó con el castigo que merecía nuestro pecado. Él tomó nuestro lugar y nos devolvió la posibilidad de restablecer la relación con el Padre <a class="a--higlighted" href="https://www.bible.com/es/bible/176/1pe.2.24" target="_blank">(1 Pedro 2:24)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Ahora, al creer en Jesús y en su obra, tenemos salvación eterna y una vida nueva <a class="a--higlighted" href="https://www.bible.com/es/bible/176/jhn.3.16" target="_blank">(Juan 3:16)</a></h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Creemos que todos los que reciben por fe al Señor Jesús nacen de nuevo mediante la obra del Espíritu Santo y, de esta manera, son hechos hijos de Dios <a class="a--higlighted" href="https://www.bible.com/es/bible/176/gal.4.4" target="_blank">(Gálatas 4: 4-7)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Creemos en el bautismo en el nombre del Padre, del Hijo, y del Espíritu Santo, acto solemne que evidencia el arrepentimiento del hombre y su fe en el Señor Jesús <a class="a--higlighted" href="https://www.bible.com/es/bible/176/mat.28.19" target="_blank">(Mateo 28: 19)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Compartimos juntos la Cena del Señor, instituida por Jesús para conmemorar su muerte. Creemos que el pan y el vino simbolizan su cuerpo y su sangre.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center">
                      <h5>Participar de la Cena del Señor es deber de los creyentes; demostrando así su fe en el sacrificio de Cristo y su esperanza en la vida eterna <a class="a--higlighted" href="https://www.bible.com/es/bible/176/luk.22.17" target="_blank">(Lucas 22:17-20)</a>.</h5>
                    </div>
              </div> 
            </div>
        </div>
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div class="card card-profile card-light">
              <div class="card-block">
                    <div class="author d-flex align-items-center"> 
                      <h5>Creemos que Jesús volverá y establecerá un reinado, permanente y eterno, de justicia y paz <a class="a--higlighted" href="https://www.bible.com/es/bible/176/luk.21.25" target="_blank">(Lucas 21:25-28)</a>.</h5>
                    </div>
              </div>  
            </div>
        </div>
      </div>
      <hr class="divider" size="5rem"/>  
    </div>
  </div>
<!------------------------------------ creencias start-------------------------------------->
<!------------------------------------carousel fotos start-------------------------------------->

        <div class="section section--margin-null galeria">
            <div class="container">
                <div class="nosotros-title">
                    <h2 class="title">Galería</h2> 
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto"> 
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img class="carousel__image" src="./assets/img/musicos.jpg" alt="Random first slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image" src="./assets/img/juani.jpg" alt="Random second slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/dany.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/ronda.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/fernando.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/tejo.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/futbol.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/abuelas.jpg" alt="Random third slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="carousel__image"  src="./assets/img/chicos.jpg" alt="Random third slide">
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
<!------------------------------------carousel fotos end-------------------------------------->
    </div> 
</div>
  
