<div class="container">
    <h2 class="title">Reuniones</h2>
    <h4>Suspendidas todas las reuniones por el Covid-19. Estas invitado a sumarte a nuestras reuniones virtuales los domingos a las 19:00hs a través de nuestro canal de <span><a href="https://www.youtube.com/channel/UCsbRYUJ9c8rBaistyvLOyhQ">Youtube</a></span></h4> 
    <div class="row">
        <div class="col-md-3" *ngFor="let reunion of reuniones" >
            <app-reunion 
            [img]="reunion.img"
            [time]="reunion.time"
            [title]="reunion.title"
            [content]="reunion.content">
            </app-reunion>
        </div>
       
    </div>
</div>
