<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Contactanos</h2>
                <form class="contact-form" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Tu nombre" 
                                (focus)="focus=true" 
                                (blur)="focus=false"
                                name="name"
                                ngModel
                                required> 
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input 
                                type="email" 
                                class="form-control" 
                                placeholder="Tu email" 
                                (focus)="focus1=true" 
                                (blur)="focus1=false"
                                name="email"
                                email
                                ngModel
                                required>
                            </div>
                        </div>
                    </div>
                    <label>Mensaje</label>
                    <textarea 
                    class="form-control" 
                    rows="4" 
                    placeholder="Tu mensaje..."
                    name="message"
                    minlength="1"
                    ngModel
                    required ></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button 
                            class="btn btn-danger btn-lg btn-fill"
                            type="submit"
                            [disabled]="!f.valid" >Enviar Mensaje</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div> 
    </div>
</div>

