img {
    opacity: 0.8;
}

a {
    font-size: 14px !important;
    cursor: pointer;
} 

p.d-lg-none {
    font-size: 14px; 
}

i {
    font-size: 25px !important;
    right: 7px !important; 
}

.nav-link-admin {
    font-weight: bold;
}