<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/frente.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bienvenido</h1>
            <h3>Iglesia de la Unión Evangelica de Coronel Suárez.</h3>
            <br />
            <a href="#/multimedia" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Nuestros mensajes</a>
        </div>
        
        <div class="shift text-center">
            <a (click)="scroll(main)" class="btn btn-link"><i class="fa fa-angle-down"></i>Desplazar hacia abajo<i class="fa fa-angle-down"></i></a>
            <div #main></div>
        </div>
    </div>
</div>

