<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/frente.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>¡Bienvenido!</h1>
            <h3>Iglesia de la Unión Evangelica de Coronel Suárez.</h3>
            <br />
            <a href="https://www.youtube.com/channel/UCsbRYUJ9c8rBaistyvLOyhQ" target="_blank" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Nuestro canal de youtube</a>
            <!--<button type="button" class="btn btn-outline-neutral btn-round">Download</button>-->
        </div>
    </div>
</div>
