.section--margin-null {
    padding-top: 0px; 
}

.a--higlighted {
    color: #f5593d;
}

.oracion {
    font-style: italic;
}

.oracion-start {
    text-align: left;
}

.oracion-end {
    text-align: right;
}
