<div class="wrapper animated fadeIn">
<!------------------------------------header start------------------------------------>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/biblia.jpg');">
        <div class="filter"></div>
    </div>
<!------------------------------------header end-------------------------------------->
    
    <div class="main">
<!------------------------------------regalo start-------------------------------------->   
        <div class="section text-center animated fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto animated fadeIn">
                        <h2 class="title">El regalo más grande</h2>
                        <br >
                        <h5 class="description">La Biblia nos enseña que, desde el comienzo de la humanidad, el hombre se apartó de Dios perdiendo así la relación con su Creador<a class="a--higlighted" href="https://www.bible.com/es/bible/176/rom.3.23" target="_blank">(Romanos 3:23)</a> . El precio que debíamos pagar era la muerte <a class="a--higlighted" href="https://www.bible.com/es/bible/176/rom.6.23" target="_blank">(Romanos 6:23)</a>.</h5>
                        <br>
                        <h5 class="description">Pero Dios nos amó tanto que ideó un plan perfecto para salvarnos: envió a su Hijo Jesús, que murió por cada uno de nosotros, cargando toda nuestra maldad <a class="a--higlighted" href="https://www.bible.com/es/bible/176/1pe.2.24" target="_blank">(1 Pedro 2:24)</a>.</h5>
                        <br>
                        <h5 class="description">Y la historia no terminó ahí, ¡Jesús resucitó! <a class="a--higlighted" href="https://www.bible.com/es/bible/176/1co.15.3" target="_blank">(1 Corintios 15:3-4)</a> Venció la muerte y ascendió al cielo <a class="a--higlighted" href="https://www.bible.com/es/bible/176/mrk.16.9" target="_blank">(Marcos 16:9)</a>. 
                            Hoy, está esperando que creas en Él y recibas por fe el regalo más grande: 
                            <strong>la salvación</strong>.</h5>
                        <br>
                    </div> 
                </div>
                <hr class="divider" size="5rem"/>   
            </div>
        </div>
<!------------------------------------regalo end--------------------------------------> 

<!------------------------------------oracion start-------------------------------------->
        <div class="section section--margin-null text-center animated fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto animated fadeIn">
                        <h2 class="title">La decisión</h2>
                        <br >
                        <h5 class="description">Si entendiste el regalo que Dios quiere darte, y querés recibirlo, podés hablar con Jesús de la siguiente manera: </h5>
                        <br>
                        <h5 class="description oracion oracion-start">Señor Jesús:</h5>
                        <br>
                        <h5 class="description oracion">Creo que sos el Hijo de Dios. Reconozco que soy pecador y me arrepiento de todo corazón. Creo que moriste por mí en la cruz para pagar mi castigo y que con tu sangre derramada en esa cruz me limpiás de todos mis pecados. Solo vos podés salvarme, creo que resucitaste para darme vida eterna. Señor salvame, te abro mi corazón y te recibo para siempre. Te pido que vengas a vivir a mi corazón.</h5>
                        <br>
                        <h5 class="description oracion oracion-end">Amén</h5>
                    </div> 
                </div>
            </div>
        </div>
<!------------------------------------oracion end-------------------------------------->  
    </div> 
</div>
      
