.iframe {
  height: 315px;
  width: 100%;
  //max-width: 560px;
}

.paginator {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 0;
}

.mat-elevation-z8 {
  width: 90%;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  background: white;
  margin: 0px 4px;
  border-radius: 5px;
}

.page-number.current{
  //background: green !important;
  //color: white;
}

.page-number span{
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-top: 2px;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}