<div class="wrapper animated fadeIn">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/biblia.jpg');">
      <div class="filter"></div>
  </div>
  <div  #videoContainer class="section text-center">
    <div class="container">
      <h2 class="title">Mensajes</h2>
      <div class="row content">
        <div class="col-sm-12">
          <div class="form-group">
              <input #preacherInput type="text" class="form-control" [(ngModel)]="preacher" [ngbTypeahead]="search" 
                (selectItem)="selectedItem($event)" [resultFormatter]="formatter" 
                (focus)="onFocus($event)" placeholder="Buscar">
          </div>
        </div> 

        <div class="col-md-4 animated fadeIn" *ngFor="let video of videos; let i = index">
          <div class="card card-profile card-light pointer" (click)="onClick(video)">
              <div class="card-block">
                <a href="#video/{{video.id}}">
                    <div class="author">
                      <h4 class="card-title">{{video.data.preacher}}</h4>
                      <h6 class="card-category">{{video.data.date | date:'fullDate'}}</h6>
                    </div>
                    <p class="card-description text-center">
                      
                    </p>
                </a>
                <button type="button" class="btn btn btn-outline-danger btn-round btn-sm" placement="top" ngbTooltip="Ver el video">
                  <a class="a-button" href="#video/{{video.id}}" >VER</a>
                </button>
                  
              </div> 
            </div>
          </div>
        </div>

        <div class="row mt-1">
          
         <div class="col-md-12">
            <app-spinner *ngIf="loading"></app-spinner>
            <div class="spinner-height" *ngIf="!loading"></div>
          <div>

          <div class="col-md-12">
            <button type="button" [disabled]="prevDisabled" class="btn btn-danger btn-just-icon" (click)="pageChanged(config.currentPage - 1)"><i class="fa fa-angle-left"></i></button>
            <button type="button" class="btn btn-danger btn-round">{{config?.currentPage}}</button>              
            <button type="button" [disabled]="nextDisabled" class="btn btn-danger btn-just-icon" (click)="pageChanged( config.currentPage + 1)"><i class="fa fa-angle-right"></i></button>

          </div>

          <div class="col-md-12">
            <hr class="divider" size="5rem"/>
            <button type="button" class="btn btn-danger btn-link">{{config?.totalItems}} mensajes</button>
          </div>

        </div>

    </div>
  </div>
</div>
