<div class="wrapper">
  <div class="page-header page-header-xs animated fadeIn" data-parallax="true" style="background-image: url('./assets/img/biblia.jpg');">
      <div class="filter"></div>
  </div>
  <div #videoContainer class="section text-center animated fadeIn">
    <div class="container">
      <h2 class="title"></h2>
      <div class="row mb-1">
        <a href="mensajes" class="btn btn-danger btn-round ml-auto back"><i class="fa fa-arrow-left"></i>Volver</a>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="card-video">
            <iframe class="iframe" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
          </div> 
        </div>

    </div>
  </div>
</div> 
